.st-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .st-modal-content {
    width: 400px;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .st-modal-action {
    margin-top: 10px;
    
  }
  .st-modal-action button {
    margin: 20px;

  }
  