#root {
  max-width: 1280px;
  margin: 0 auto;
}
.app{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.app-header{
	
	margin: 100px 0px 10px 0px ;
}
.table-editor-container table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
  }
  .first-column{
	font-weight: 700;
  }
  .st-top-action-column{
	background-color:  #f1f1f1;
	align-items: center;
  }
  .table-editor-container table tr td:first-child{
	background-color: #f1f1f1;
}
  .st-add-more {
	position: relative;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	


  }
  
  .st-swatch {
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: 3px solid #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	
  }
  
  .st-popover {
	position: absolute;
	top: calc(100% -80px);
	left: 0;
	border-radius: 9px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	z-index: 100;
	width: 150px;
	background-color: #fff;
  }
  .st-action-button{
	width: 100%;
	margin: 1px;
	padding: 5px;
  }
  .st-plus {
	height:20px;
	width:20px;
	transition: 0.2s ease-in-out;
	padding: 6px;
	cursor:pointer;
	
  }
  .topcoat-button-bar__item > input {
	border: 0;
	  clip: rect(0 0 0 0);
	  height: 2rem;
	  margin: 0 -2rem -2rem 0;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: auto;
	opacity: 0.001;
  }
  
  .button-bar,
  .topcoat-button-bar {
	display: table;
	table-layout: fixed;
	white-space: no-wrap;
	margin: 0;
	padding: 0;
  }
  
  .topcoat-button-bar__item {
	display: table-cell;
	width: auto;
	border-radius: 0;
  }
  
  .topcoat-button-bar > .topcoat-button-bar__item:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
  }
  
  .topcoat-button-bar > .topcoat-button-bar__item:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
  }
  
  .topcoat-button-bar__item:first-child > .topcoat-button-bar__button {
	border-right: none;
  }
  
  .topcoat-button-bar__item:last-child > .topcoat-button-bar__button {
	border-left: none;
  }
  
  .button,
  .topcoat-button-bar__button {
	position: relative;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	background-clip: padding-box;
	color: inherit;
	vertical-align: top;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: inherit;
	cursor: default;
	user-select: none;
  }
  
  .topcoat-button-bar__button {
	padding: 0 1.25rem;
	border: 1px solid #a5a8a8;
	/* Important inheritance to manipulate border radius from parent */
	border-radius: inherit;
	background-color: #e5e9e8;
	-webkit-box-shadow: inset 0 1px #fff;
	box-shadow: inset 0 1px #fff;
	color: #454545;
	text-shadow: 0 1px #fff;
	line-height: 3rem;
  }
  
  :checked + .topcoat-button-bar__button,
  .topcoat-button-bar__button:active,
  .topcoat-button-bar__button.is-active {
	background-color: #d3d7d7;
	-webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
	box-shadow: inset 0 1px rgba(0,0,0,0.12);
  }
  
  .topcoat-button-bar__item:disabled,
  .topcoat-button-bar__item.is-disabled {
	opacity: 0.3;
	cursor: default;
	pointer-events: none;
  }
  
  .topcoat-button-bar__button:focus {
	border: 1px solid #0940fd;
	-webkit-box-shadow: 0 0 0 2px #6fb5f1;
	box-shadow: 0 0 0 2px #6fb5f1;
	z-index: 1;
  }
  